name: Backend Release

on:
  push:
    tags:
      - 'backend-v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            ext: ""
          - os: windows
            arch: amd64
            ext: ".exe"
          - os: darwin
            arch: amd64
            ext: ""

    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build binaries
        run: |
          mkdir dist

          VERSION=${GITHUB_REF_NAME}

          cd backend

          GOOS=${{ matrix.os }} \
          GOARCH=${{ matrix.arch }} \
          go build \
          -ldflags="-s -w -X main.version=$VERSION" \
          -o ../dist/backend-$VERSION-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.ext }}

      - uses: actions/upload-artifact@v4
        with:
          name: backend-binaries
          path: dist/*


  release:
    needs: build
    runs-on: ubuntu-latest

    steps:

      - uses: actions/download-artifact@v4
        with:
          name: backend-binaries
          path: dist

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*